html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Tahoma;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
#calendar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#calendar tr, #calendar tbody {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}

caption {
    text-align: center;
    grid-column: 1 / -1;
    font-size: 130%;
    font-weight: bold;
    padding: 10px 0;
}

#calendar a {
    /*color: #8e352e;*/
    color: #009aaf;
    text-decoration: none;
}
#calendar [href^="http"]::after,
#calendar [href^="https://"]::after
{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#calendar td, #calendar th {
    padding: 5px;
    box-sizing:border-box;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

#calendar .weekdays {
    background: #1e1e1e;
}


#calendar .weekdays th {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: #fff;
    font-size: 11px;
}

#calendar td {
    min-height: 180px;
    display: flex;
    flex-direction: column;
}

#calendar .date {
    margin-bottom: 10px;
    color: #aaa;
    flex: 0 0 auto;
    align-self: flex-start;
    font-size:9px;
}

#calendar .ico {
    padding:1px 5px 2px 4px;
    margin-right:3px;
    font-size:10px;
    letter-spacing:-1px;
    color:#fff;
    background-color:#000;
    border-radius:5px;
}

#calendar .event {
    position:relative;
    flex: 0 0 auto;
    font-size: 12px;
    border-radius: 4px;
    padding: 1vh;
    margin-bottom: 5px;
    line-height: 1.5;
    background: #e4f2f2;
    border: 1px solid #b5dbdc;
    color: #009aaf;
    text-decoration: none;
    font-weight: 700;
}
#calendar .cal {
    padding: 2.75vh 1vh;
    text-align: center;
    color:#000;
    background:#fff;
    border:1px solid #000;
    cursor: pointer;
}

#calendar .trade {
    color:#000;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
}

#calendar .createdDate {
    float:right;
    margin-top:12px;
    font-size: 10px;
    font-weight:400;
    color:#666;
}

#calendar .earningsRatio {
    font-size: 10px;
    font-weight:400;
}
#calendar .earningsRatio.plus {
    color:#c84a31;
}
#calendar .earningsRatio.minus {
    color:#1261c4;
}
#calendar .content {
    margin-top:20px;
}

#calendar .photo {
    width:100%;
    height:12.5vh;
    margin-top:1vh;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:cover;
    cursor:pointer;
}

#calendar .event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;
}

#calendar .other-month {
    background: #f5f5f5;
    color: #666;
}
.adsense {
    float:right;
    width:15%;
    height:100%;
}
#wrap {
    float:right;
    width:85%;
}
#earningsRatioTableWrap {
    position:fixed;
    overflow:hidden;
    overflow-y:auto;
    left:25%;
    right:25%;
    top:10%;
    bottom:10%;
    box-shadow: 0 0.3em 1em #000;
    border-radius: 5px;
}
#earningsRatioTableDim {
    display:none;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:#000;
    opacity:.5;
    cursor:pointer;
}
#earningsRatioTable {
    width:100%;
    border-collapse: collapse;
    font-size:10px;
    font-family: Tahoma;
    /*border: 1px solid #1a1a1a;*/
}
#earningsRatioTable caption {
    position: sticky;
    padding-left:30px;
    height:40px;
    line-height:40px;
    top: 0;
    text-align: left;
    background: #fff;
}
#earningsRatioTable th,
#earningsRatioTable td {
    padding: .5rem;
    background: #fff;
}
#earningsRatioTable thead {
    position: sticky;
    top: 40px;
    border-bottom: 1px solid #1a1a1a;
}
#enLargePhotoDim {
    display:none;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:#000;
    opacity:.2;
    cursor:pointer;
}
#enLargePhoto {
    display:none;
    position:fixed;
    left:10%;
    right:10%;
    top:10%;
    bottom:10%;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:contain;
    cursor:pointer;
}

.toggler-wrapper {
    position:absolute;
    right:8px;
    top:8px;
    display: block;
    margin-bottom:7px;
    width: 24px;
    height: 13px;
    cursor: pointer;
}

.toggler-wrapper input[type="checkbox"] {
    display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
    background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
    /*background-color: #ccc;*/
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
    position: absolute;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.toggler-wrapper.style-23 input[type="checkbox"]:checked+.toggler-slider {
    background-color: transparent;
    border-color: #44cc66;
}

.toggler-wrapper.style-23 input[type="checkbox"]:checked+.toggler-slider:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.7;
}

.toggler-wrapper.style-23 input[type="checkbox"]:checked+.toggler-slider:after {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
}

.toggler-wrapper.style-23 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
    left: calc(100% - 10px);
    background-color: #44cc66;
}

.toggler-wrapper.style-23 .toggler-slider {
    background-color: transparent;
    border: 1px solid #eb4f37;
}

.toggler-wrapper.style-23 .toggler-slider:before {
    content: '읽음';
    position: absolute;
    word-break:keep-all;
    top: -2px;
    right: 29px;
    font-size: 9px;
    font-weight:700;
    color:#000;
    opacity: 0;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

.toggler-wrapper.style-23 .toggler-slider:after {
    content: '읽지않음';
    position: absolute;
    word-break:keep-all;
    top: -2px;
    right: 30px;
    font-size: 9px;
    font-weight:400;
    color:#aaa;
    opacity: 0.7;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.toggler-wrapper.style-23 .toggler-knob {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    left: 3px;
    top: 3px;
    background-color: #eb4f37;
}

.circular-menu {
    position: fixed;
    right: 1em;
}

.circular-menu-bottom {
    bottom: 1em;
}

.circular-menu-top {
    top: 1em;
}

.circular-menu .floating-btn {
    display: block;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: hsl(4, 98%, 60%);
    box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);
    color: hsl(0, 0%, 100%);
    text-align: center;
    line-height: 3.8;
    cursor: pointer;
    outline: 0;
}

.circular-menu.active .floating-btn {
    box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
    font-size: 1.3em;
    transition: transform .2s;
}

.circular-menu.active .floating-btn i {
    transform: rotate(-45deg);
}

.circular-menu:after {
    display: block;
    content: ' ';
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    background-color: hsl(4, 98%, 60%);
    transition: all .3s ease;
}

.circular-menu.active:after {
    transform: scale3d(5.5, 5.5, 1);
    transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
    padding: 0;
    margin: 0;
}

.circular-menu .menu-item {
    position: absolute;
    top: .2em;
    right: .2em;
    z-index: -1;
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    text-align: center;
    line-height: 3;
    background-color: hsla(0,0%,0%,.1);
    transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
    background-color: hsla(0,0%,0%,.3);
}

.circular-menu.active .menu-item {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
    transform: translate3d(1em,-7em,0);
}
.circular-menu.circular-menu-top.active .menu-item:nth-child(1) {
    transform: translate3d(-7.0em,-0.5em,0);
}

.circular-menu.active .menu-item:nth-child(2) {
    transform: translate3d(-3.5em,-6.3em,0);
}
.circular-menu.circular-menu-top.active .menu-item:nth-child(2) {
    transform: translate3d(-6.0em,3.2em,0);
}

.circular-menu.active .menu-item:nth-child(3) {
    transform: translate3d(-6.5em,-3.2em,0);
}
.circular-menu.circular-menu-top.active .menu-item:nth-child(3) {
    transform: translate3d(-3.5em,6.0em,0);
}

.circular-menu.active .menu-item:nth-child(4) {
    transform: translate3d(-7em,1em,0);
}
.circular-menu.circular-menu-top.active .menu-item:nth-child(4) {
    transform: translate3d(0em,7.5em,0);
}

/**
 * The other theme for this menu
 */

.circular-menu.circular-menu-left {
    right: auto;
    left: 1em;
}
.circular-menu.circular-menu-left .floating-btn {
    background-color: hsl(217, 89%, 61%);
}
.circular-menu.circular-menu-left:after {
    background-color: hsl(217, 89%, 61%);
}
.circular-menu.circular-menu-left.active .floating-btn i {
    transform: rotate(90deg);
}
.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
    transform: translate3d(-1em,-7em,0);
}
.circular-menu.circular-menu-left.circular-menu-top.active .menu-item:nth-child(1) {
    transform: translate3d(7.0em,-1.0em,0);
}
.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
    transform: translate3d(3.5em,-6.3em,0);
}
.circular-menu.circular-menu-left.circular-menu-top.active .menu-item:nth-child(2) {
    transform: translate3d(6.5em,3.0em,0);
}
.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
    transform: translate3d(6.5em,-3.2em,0);
}
.circular-menu.circular-menu-left.circular-menu-top.active .menu-item:nth-child(3) {
    transform: translate3d(3.5em,6.5em,0);
}
.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
    transform: translate3d(7em,1em,0);
}
.circular-menu.circular-menu-left.circular-menu-top.active .menu-item:nth-child(4) {
    transform: translate3d(-1.0em,7.5em,0);
}
.circular-menu-brown .floating-btn {
    background-color: hsla(25, 35%, 55%, 1);
}
.circular-menu-brown:after {
    background-color: hsla(25, 35%, 69%, 1);
}

#loaderDim {
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:1;
    background-color:#fff;
    opacity: .3;
}

#loader,
#loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
#loader {
    position: fixed;
    left:50%;
    top:50%;
    margin:-5em 0 0 -5em;
    z-index:2;
    font-size: 10px;
    text-indent: -9999em;
    border-top: 1em solid rgba(0,0,0, 0.2);
    border-right: 1em solid rgba(0,0,0, 0.2);
    border-bottom: 1em solid rgba(0,0,0, 0.2);
    border-left: 1em solid #000000;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1s infinite linear;
    animation: load8 1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* ============================
Mobile Responsiveness
============================*/
@media(max-width: 768px) {

    #calendar .weekdays, #calendar .other-month {
        display: none;
    }

    #calendar li {
        height: auto !important;
        border: 1px solid #ededed;
        width: 100%;
        padding: 10px;
        margin-bottom: -1px;
    }

    #calendar, #calendar tr, #calendar tbody {
        grid-template-columns: 1fr;
    }

    #calendar  tr {
        grid-column: 1 / 2;
    }

    #calendar td:first-child {
        border-top: 1px solid #efefef;
    }
    #calendar td {
        min-height: auto;
    }
    #calendar .date {
        font-size:11px;
        align-self: flex-start;
    }
    #calendar .ico {
        padding-bottom:1px;
    }
    #calendar .empty {
        display:none;
    }
    .toggler-wrapper.style-23 .toggler-slider:before {
        top: 0;
    }
    .toggler-wrapper.style-23 .toggler-slider:after {
        top: 0;
    }
    #calendar .photo {
        height:18vh;
    }
    .adsense {
        float:none;
        /*height:250px;*/
    }
    #wrap {
        float:none;
        width:100%;
    }
}
